@font-face {
    font-family: 'Lucida Grande';
    src: url('lucida-grande.woff') format('woff');
}

html, body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;

    font-family: 'Lucida Grande';
    color: white;
}

.login-info, .random-fb-photo {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login-info {
    background-color: #3b5998;
}

.random-fb-photo {
    object-fit: contain;
}

h1 {
    margin: 0;
    font-size: 30pt;
}

.url {
    font-weight: bolder;
    text-decoration: underline;
}

.device-code {
    font-size: 30pt;
    font-family: monospace;
}