html, body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;

    color: white;
}

.random-fb-photo {
    width: 100vw;
    height: 100vh;

    object-fit: contain;
}